* {
    margin: 0;
    padding: 0;
}

.heading {
    height: 90px;
    width: 100%px;
    display: flex;
    background-color: rgb(231, 235, 235);
    /* justify-content:space-evenly; */
    align-items: center;
    flex-grow: 1;
}

.logo img {
    margin-left: 60px;
    height: 65px;
    width: 90%;
}

.logo img:hover {
    box-shadow: 2px 3px 4px rgb(236, 22, 226);
    transform: scale(1.3);
    cursor: zoom-in;

}

.info1 {
    margin-left: 560px;
    border-right: 1px solid black;
    padding-right: 30px;

}

.info1 ul li {
    list-style: none;

}

.info1 span {
    font-weight: 600;
}

.info2 {
    margin-left: 30px;
    border-right: 1px solid black;
    padding-right: 5px;
    width: 200px;

}

.info2 ul li {
    list-style: none;
}

.info2 span {
    font-weight: 600;
}

.button {
    margin-left: 20px;
    margin-right: 20px;
}

.button input {
    border: 1px solid rgb(170, 204, 18);
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(83, 184, 63);
    font-weight: 400;
    font-size: larger;
    outline: none;
}

.button input:hover {
    transform: scale(1.1);
}
#search{
    outline: none;
    margin-left: 15px;
    background: none;
    font-size:18px;
    color: white;
}
.navbar {
    height: 60px;
    width: 100%;
    background-color: #17a43b;
    line-height: 60px;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(12, 60, 124);
}

.navbar ul li {
    display: inline-block;
    /* text-transform: uppercase; */

}

.navbar ul li a {
    text-decoration: none;
    padding: 19px;
    color: white;
    font-weight: 850;
    font-size: 18px;
    border-right: 1px solid white;
}

.navbar ul li a:hover {
    background-color: rgb(62, 38, 197);
    color: burlywood;
    text-decoration-line: underline;
    font-size: 20px;
}

.navbar ul li input {
    border: none;
    border-bottom: 1px solid white;
    background-color: #17a43b;
    color: white;
}

.frame iframe {
    height: 500px;
    width: 100%;
    border: none;
    background-color: chocolate;
}

.courses {
    height: 550px;
    width: 100%;
    background-color: rgb(220, 233, 233);
    /* margin-bottom: 0px; */


}

.courses summary {
    font-size: 50px;
    color: rgb(35, 121, 202);
    align-items: center;
    padding-left: 500px;
}

.courses img {
    width: 266px;
    height: 280px;
}

.courses img:hover {
    transform: scale(2.2);
    box-shadow: 4px 4px 6px rgb(165, 19, 19);
    cursor: zoom-in;

}

.regstration {
    height: 650px;
    width: 100%;
    background-color: rgb(245, 250, 248);
    font-family: 'Frank Ruhl Libre', serif;
}

.regstration p {
    color: #17a43b;
    margin-top: 10px;
    margin-left: 260px;
    margin-right: 231px;
    padding: 0px 20px;
    font-size: xx-large;
    background-color: bisque;
}

.data1 {
    margin-left: 100px;
    margin-left: 240px;
}

/* .dat1 ul{
 
} */
.data1 ul li {
    list-style: none;
    display: inline-block;
    margin: 20px;
    color: rgb(185, 57, 11);
    text-transform: uppercase;
    font-size: x-large;
    text-decoration: underline 2px green;
}

.data2 {
    height: 110px;
    width: 630px;
    margin-left: 15px;
    border: 2px solid black;
    list-style-position: inside;
    padding: 10px;
    float: left;
    border-radius: 7px;
}

.data2 ul li {
    line-height: 20px;
    font-size: 20px;
}

.data2:hover {
    background-color: wheat;
    color: rgb(21, 133, 207);
}

.data3 {
    height: 110px;
    width: 630px;
    margin-left: 15px;
    border: 2px solid black;
    list-style-position: inside;
    padding: 10px;
    float: right;
    margin-right: 10px;
    border-radius: 7px;
}

.data3 ul li {
    line-height: 20px;
    font-size: 20px;
}

.data3:hover {
    background-color: wheat;
    color: rgb(21, 133, 207);
}

.data4 {
    height: 110px;
    width: 630px;
    margin-left: 15px;
    border: 2px solid black;
    list-style-position: inside;
    padding: 10px;
    float: left;
    border-radius: 7px;
    margin-top: 20px;
}

.data4 ul li {
    line-height: 20px;
    font-size: 20px;
}

.data4:hover {
    background-color: wheat;
    color: rgb(21, 133, 207);
}

.data5 {
    height: 110px;
    width: 630px;
    margin-left: 15px;
    border: 2px solid black;
    list-style-position: inside;
    padding: 10px;
    float: right;
    margin-right: 10px;
    border-radius: 7px;
    margin-top: 20px;
}

.data5 ul li {
    line-height: 20px;
    font-size: 20px;
}

.data5:hover {
    background-color: wheat;
    color: rgb(21, 133, 207);
}

.data6 {
    height: 110px;
    width: 630px;
    margin-left: 350px;
    border: 2px solid black;
    list-style-position: inside;
    padding: 10px;
    float: left;
    border-radius: 7px;
    margin-top: 20px;
}

.data6 ul li {
    line-height: 20px;
    font-size: 20px;
}

.data6:hover {
    background-color: wheat;
    color: rgb(21, 133, 207);
}

.button2 {
    margin-top: 475px;
    margin-left: 625px;
}

.button2 input {
    background-color: #521067;
    height: 40px;
    width: 150px;
    color: white;
    border-radius: 7px;
    font-size: 17px;
}

.button2 input:hover {
    transform: scale(1.1);
    background-color: rgb(221, 15, 15);
}

.navbar2 {
    height: 60px;
    width: 100%;
    background-color: #18346D;
    line-height: 60px;
}

.navbar2 ul {
    margin-left: 340px;
}

.navbar2 ul li {
    list-style: none;
    display: inline-block;
}

.navbar2 ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    margin: 20px;
    padding: 18px;
    font-weight: 850;
    font-size: 20px;
}

.navbar2 ul li a:hover {
    background-color: rgb(57, 172, 23);
    color: rgb(252, 251, 249);
    text-decoration-line: underline;
    font-size: 22px;
}

.aframe {
    border: 1px solid rgb(212, 90, 19);
    margin: 0px 30px 0px 30px;
    background-color: antiquewhite;
}

.aframe iframe {
    height: 2400px;
    width: 100%;
}

.disc {
    list-style-position: inside;
    margin: 10px 20px 10px 20px;
    line-height: 30px;
    font-size: 18px;
    text-align: -webkit-match-parent;
}

.disc h3 {
    display: flex;
    color: rgb(226, 14, 156);
    text-shadow: 3px 3px 3px rgb(9, 205, 240);
    line-height: 50px;
}

.disc span {
    font-weight: 700;
    color: rgb(30, 63, 210);
}

.disc ul {
    list-style: square 5px;
    margin-left: 10px;
    line-height: 50px;
}

.disc ol li {
    margin-left: 50px;
    line-height: 50px;
}

.disc p {
    line-height: 50px;
}

.downlod {
    height: 20px;
    width: 600px;
    margin-top: 30px;
    background-color: rgb(231, 229, 225);
    margin-left: 350px;
    border: 1px solid black;
    padding: 25px;
}

.downlod a {
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    color: rgb(8, 139, 226);
}

.courseStructure {
    height: 689px;
    width: 100%;
    background-color: rgb(226, 224, 221);
}

.courseStructure h1 {
    display: flex;
    justify-content: center;
    margin: 30px;
    color: rgb(21, 219, 87);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.courseStructure pre {
    margin: 20px 80px 20px 80px;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 30px;
}

.courseStructure ul {
    border: 1px solid black;
    margin-right: 10px;


}

.courseStructure ul li {
    display: flex;
    border-bottom: 1px dotted;
    background-color: #9fa4ad;

}

.courseStructure ul li a {
    text-decoration: none;
    font-size: x-large;
    color: rgb(41, 10, 153);
    margin: 8px 25px;
    padding: 8px 15px;
    display: inline-flex;
    justify-content: space-around;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Geneva, Tahoma, sans-serif;

}

.courseStructure ul li a abbr {
    text-decoration: none;
}

.nav3 iframe {
    height: 540px;
    float: right;
    width: 1127px;
    margin-right: 10px;
    border: none;
}

.courseStructure ul li a:hover {
    background-color: rgb(57, 172, 23);
    color: rgb(252, 250, 249);
    text-decoration-line: underline;
    font-size: 22px;
}

.footerColor {
    height: 30px;
    background-color: rgb(12, 35, 54);
}

/* <!-- FOOTER STYLE START --> */

.mainFooter {
    background-color: white;
    /* background-color: #00274c; */
    height: 490px;
    display: flex;
    color: black;
    justify-content: space-between;
}

.footerPart_1 {
    width: 450px;
    height: 480px;
    margin-top: 10px;
    margin-left: 25px;
}

.footerPart_1 img {
    height: 220px;
    width: 350px;
    margin: 20px 40px 10px 25px;
}

.footerAddress h3 {
    margin: 30px 165px 10px 110px;
    font-size: x-large;
    background-image: linear-gradient(to right, rgb(57, 172, 23), white, rgb(17, 14, 14));

}

.footerAddress p {
    margin: 10px 0px 40px 25px;
    line-height: 30px;
}

.footerAddress p span {
    margin-left: 17px;
}

.footerLinks ul {
    list-style: none;
}

.footerLinks ul li {
    display: inline-block;
}

.footerLinks a {
    text-decoration: none;
    padding: 0px 16px 0px 16px;
    border-right: 1px solid rgb(15, 7, 7);
    font-size: 18px;
    color: rgb(57, 172, 23);
}

.footerLinks span a {
    border: none;
}

.footerPart_3 {
    height: 480px;
    margin-top: 10px;
    margin-left: 50px;
    width: 450px;
}

.footerBox1 {
    display: flex;
    line-height: 25px;
}

.footerBox1 h3 {
    font-size: x-large;
    padding: 5px 10px 10px 30px;
    margin-bottom: 15px;
    border-bottom: 1px solid black;
}

.footerBox1 ul {
    list-style: none;
}

.footerBox1 li {
    padding: 5px;
}

.footerBox1 a {
    text-decoration: none;
    color: rgb(20, 112, 199);
    padding: 20px;

}

.footerPart_4 {
    height: 400px;
    margin: 10px 0px 0px 46px;
    width: 340px;
}

.footerLines_2 h3 {
    margin-left: 40px;
    margin-bottom: 15px;

}

.footerIcone {
    margin-top: 30px;
    margin-left: 50px;
}

.footerIcone img {
    border-radius: 50px;
}

.footerlast {
    height: 30px;
    background-color: rgb(10, 28, 44);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}